{% extends "base.html" %}
{% load static %}

{% block script %} 
<script type="module" src="{% static 'js/uom/pages/uom_category_list.js' %}"></script>
{% endblock %}

{% block title %}Inventory - Units of Measure Categories{% endblock %}

{% block navbar %}
{% include "inventory_navbar.html"%}
{% endblock %}

{% block toolbar %}
{% include "uom/components/uom_category_list_toolbar.html"%}
{% endblock %}

{% block content %}
{% include "uom/components/uom_category_list_view.html"%}
<!-- Filter Model -->
{% include "uom/_uomCategory_list_modal_filter.html"%}
<!-- Order Model -->
{% include "uom/_uomCategory_list_modal_order.html"%}
{% endblock %}


  <!-- Loading indicator -->
  <div class="d-flex flex-row justify-content-center align-items-center h-100 gap-3">
    <img src="{% static 'icons/rocket.svg' %}" alt="inventory icon" width="200" height="200">
    <span class="fs-4 text-white">Loading, please wait...</span>
    <div class="spinner-border text-indigo-5" role="status" style="width: 2rem; height: 2rem;"></div>
  </div>

