{% extends "base.html" %}
{% load static %}

{% block title %}Inventory - Units of Measure Categories{% endblock %}

{% block script %} 
<script type="module" src="{% static 'js/uom/pages/uom_category_new.js' %}"></script>
{% endblock %}

{% block navbar %}
{% include "inventory_navbar.html"%}
{% endblock %}

{% block toolbar %}
{% include "uom/components/uom_category_new_toolbar.html"%}
{% endblock %}

{% block content %}
{% include "uom/components/uom_category_new_form.html"%}
{% include "components/toast.html"%}
{% endblock %}

