<div class="row my-4">
  <div class="col-12 col-md-6">
    <!-- Product type -->
    <div class="row">
      <div class="col-4 fw-semibold text-white my-2">
        Type: 
      </div>
      <div class="col-8 d-flex flex-row gap-2 my-2">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="radioType" id="type-stockable" checked>
          <label class="form-check-label fw-light" for="type-stockable">
            Stockable
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="radioType" id="type-consumable">
          <label class="form-check-label fw-light" for="type-consumable">
            Consumable
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="radioType" id="type-service">
          <label class="form-check-label fw-light" for="type-service">
            Service
          </label>
        </div>
      </div>
    </div>

    <!-- Category -->
    <div class="row">
      <div class="col-4 fw-semibold text-white my-2">
        Category: 
      </div>
      <div class="col-8 d-flex flex-row gap-2 my-2">
        <input type="text" 
          class="form-control form-control-sm border-0 border-bottom border-blue-grey-5 rounded-0 bg-dark text-white fw-light placeholder-blue-grey-5" 
          placeholder="Enter product list price">
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <!-- List price -->
    <div class="row">
      <div class="col-4 fw-semibold text-white my-2">
        List price: 
      </div>
      <div class="col-8 d-flex flex-row gap-2 my-2">
        <input type="text" 
          class="form-control form-control-sm border-0 border-bottom border-blue-grey-5 rounded-0 bg-dark text-white fw-light placeholder-blue-grey-5" 
          placeholder="Enter product list price">
      </div>
    </div>

    <!-- Standard price -->
    <div class="row">
      <div class="col-4 fw-semibold text-white my-2">
        Cost price: 
      </div>
      <div class="col-8 d-flex flex-row gap-2 my-2">
        <input type="text" 
          class="form-control form-control-sm border-0 border-bottom border-blue-grey-5 rounded-0 bg-dark text-white fw-light placeholder-blue-grey-5" 
          placeholder="Enter product list price">
      </div>
    </div>

    <!-- UoM -->
    <div class="row">
      <div class="col-4 fw-semibold text-white my-2">
        Unit of Measure: 
      </div>
      <div class="col-8 d-flex flex-row gap-2 my-2">
        <input type="text" 
          class="form-control form-control-sm border-0 border-bottom border-blue-grey-5 rounded-0 bg-dark text-white fw-light placeholder-blue-grey-5" 
          placeholder="Enter product list price">
      </div>
    </div>
  </div>
</div>