{% load static %}

{% if products %}

{% if view_type == "gallery" %}
{% include "products/_product_list_view_card.html" %}
{% elif view_type == "list" %}
{% include "products/_product_list_view_list.html" %}
{% endif %}

<div id="pagination-bar" hx-swap-oob="true" class="d-flex gap-3">
      <!-- view bar -->
      <div class="btn-group btn-sm" role="group" aria-label="Radio toggle view">
        <!-- Gallery view -->
        <input type="radio" class="btn-check" name="options" id="gallery view" autocomplete="off" {% if view_type == "gallery" %}checked{% endif %}>
        <label 
          class="btn btn-outline-indigo-5 btn-sm" 
          for="gallery view"
          hx-get="{% url 'inventory:product_list' %}?view_type=gallery&pag={{ meta.current_page }}"
          hx-target="#product-list-view"
          hx-swap="innerHTML"
        >
          <img src="{% static 'icons/gallery.svg' %}" alt="inventory icon" width="15" height="15">
        </label>

        <!-- List view -->
        <input type="radio" class="btn-check btn-sm" name="options" id="list view" autocomplete="off" {% if view_type == "list" %}checked{% endif %}>
        <label 
          class="btn btn-outline-indigo-5 btn-sm" 
          for="list view"
          hx-get="{% url 'inventory:product_list' %}?view_type=list&page={{ meta.current_page }}"
          hx-target="#product-list-view"
          hx-swap="innerHTML"
        >
          <img src="{% static 'icons/list.svg' %}" alt="inventory icon" width="15" height="15">
        </label>
      </div>
      <!-- Pagination bar-->
      <div id="pagination-info" hx-swap-oob="true" class="d-flex flex-row align-items-center gap-3">
        <!-- Total -->
        <div class="fw-light"> Total: {{meta.total}} </div>
        <!-- Navigator -->
        <div class="d-flex flex-row align-items-center gap-1">
          <button type="button"
            class="btn btn-indigo-5 btn-sm {% if not meta.has_previous %}disabled{% endif %}"
            hx-get="{% url 'inventory:product_list' %}?page={{ meta.previous_page_number }}&view_type={{ view_type }}"
            hx-target="#product-list-view"
            hx-swap="innerHTML"
          >
            <img src="{% static 'icons/prev.svg' %}" alt="next icon" width="10">
          </button>
          <button type="button"
            class="btn btn-indigo-5 btn-sm {% if not meta.has_next %}disabled{% endif %}"
            hx-get="{% url 'inventory:product_list' %}?page={{ meta.next_page_number }}&view_type={{ view_type }}"
            hx-target="#product-list-view"
            hx-swap="innerHTML"
          >
            <img src="{% static 'icons/next.svg' %}" alt="next icon" width="10">
          </button>
          <div class="fw-light">
            {{ meta.current_page }} / {{ meta.num_pages }}
          </div>
        </div>
      </div>
      </div>

{% else %}

<!-- No found -->
<div class="d-flex flex-row justify-content-center align-items-center h-100 gap-3">
  <img src="{% static 'icons/empty_box.svg' %}" alt="inventory icon" width="200" height="200">
  <span class="fs-4 text-white">No products found</span>
</div>

<div id="pagination-bar" hx-swap-oob="true" class="d-flex gap-3">
      <!-- view bar -->
      <div class="btn-group btn-sm" role="group" aria-label="Radio toggle view">
        <!-- Gallery view -->
        <input type="radio" class="btn-check" name="options" id="gallery view" autocomplete="off" {% if view_type == "gallery" %}checked{% endif %}>
        <label 
          class="btn btn-outline-indigo-5 btn-sm" 
          for="gallery view"
          hx-get="{% url 'inventory:product_list' %}?view_type=gallery&pag={{ meta.current_page }}"
          hx-target="#product-list-view"
          hx-swap="innerHTML"
        >
          <img src="{% static 'icons/gallery.svg' %}" alt="inventory icon" width="15" height="15">
        </label>

        <!-- List view -->
        <input type="radio" class="btn-check btn-sm" name="options" id="list view" autocomplete="off" {% if view_type == "list" %}checked{% endif %}>
        <label 
          class="btn btn-outline-indigo-5 btn-sm" 
          for="list view"
          hx-get="{% url 'inventory:product_list' %}?view_type=list&page={{ meta.current_page }}"
          hx-target="#product-list-view"
          hx-swap="innerHTML"
        >
          <img src="{% static 'icons/list.svg' %}" alt="inventory icon" width="15" height="15">
        </label>
      </div>
      <!-- Pagination bar-->
      <div id="pagination-info" hx-swap-oob="true" class="d-flex flex-row align-items-center gap-3">
        <!-- Total -->
        <div class="fw-light"> Total: {{meta.total}} </div>
        <!-- Navigator -->
        <div class="d-flex flex-row align-items-center gap-1">
          <button type="button"
            class="btn btn-indigo-5 btn-sm {% if not meta.has_previous %}disabled{% endif %}"
            hx-get="{% url 'inventory:product_list' %}?page={{ meta.previous_page_number }}&view_type={{ view_type }}"
            hx-target="#product-list-view"
            hx-swap="innerHTML"
          >
            <img src="{% static 'icons/prev.svg' %}" alt="next icon" width="10">
          </button>
          <button type="button"
            class="btn btn-indigo-5 btn-sm {% if not meta.has_next %}disabled{% endif %}"
            hx-get="{% url 'inventory:product_list' %}?page={{ meta.next_page_number }}&view_type={{ view_type }}"
            hx-target="#product-list-view"
            hx-swap="innerHTML"
          >
            <img src="{% static 'icons/next.svg' %}" alt="next icon" width="10">
          </button>
          <div class="fw-light">
            {{ meta.current_page }} / {{ meta.num_pages }}
          </div>
        </div>
      </div>
      </div>

{% endif %}