{% extends "base.html" %}
{% load static %}

{% block title %}Products{% endblock %}

{% block toolbar %}
<div id="production-toolbar" hx-swap-oob="true" class="d-flex flex-row justify-content-between align-items-center gap-2">
</div>
{% endblock %}

{% block content %}
<div 
  id="product-list-view"
  hx-get="{% url 'inventory:product_list' %}" 
  hx-trigger="load" 
  hx-target="#product-list-view" 
  hx-swap="innerHTML"
  class="flex-grow-1 d-flex flex-column"
>
  <!-- Loading indicator -->
  <div class="d-flex flex-row justify-content-center align-items-center h-100 gap-3">
    <img src="{% static 'icons/rocket.svg' %}" alt="inventory icon" width="200" height="200">
    <span class="fs-4 text-white">Loading, please wait...</span>
    <div class="spinner-border text-indigo-5" role="status" style="width: 2rem; height: 2rem;"></div>
  </div>
</div>

{% endblock %}
