{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block toolbar %}
<div class="d-flex flex-row justify-content-between align-items-center gap-2">
    <!-- title -->
    <div name="title" class="fs-5 text-white">Product</div>
    <!-- buttons -->
    <button type="button" class="btn btn-indigo-5">Add New</button>
</div>
{% endblock %}


{% block content %}
<!-- container load bằng htmx -->
<div 
  id="product-cards"
  hx-get="{% url 'inventory:product_list' %}" 
  hx-trigger="load" 
  hx-target="#product-cards" 
  hx-swap="innerHTML">
  Loading...
</div>

<!-- chỗ để show detail -->
<div id="product-detail" class="mt-4"></div>
{% endblock %}
