{% extends "layout/navbar.html"%}
{% load static %}

{% block nav_title%}
  <div class="d-flex flex-row align-items-center gap-2">
    <img src="{% static 'icons/inventory.logo.svg' %}" alt="inventory icon" height="20">
    <div name="title" class="fs-5 fw-bold text-white">Inventory</div>
  </div>
{% endblock %}

{% block nav_menu%}
<div class="d-flex flex-row gap-2">
  <a href="{% url 'inventory:product_list' %}" class="btn btn-dark btn-sm">Products</a>
  <button class="d-flex align-items-center btn btn-dark btn-sm" id="configDropdown" type="button"
    data-bs-toggle="dropdown" aria-expanded="false">
    Configuration
  </button>
  <!-- Configuration Menu-->
  <ul class="dropdown-menu dropdown-menu-end shadow bg-blue-grey-9 text-white border-blue-grey-5" aria-labelledby="configDropdown">
    <li><a class="dropdown-item fw-light text-white btn bg-blue-grey-3-hover">Unit of Measure</a></li>
  </ul>
</div>

{% endblock %}