{% extends "layout/toolbar.html" %}
{% load static %}

{% block toolbar_title%}
<div name="title" class="d-flex align-items-center gap-2">
  <button type="button" class="btn btn-sm text-white"
          onclick="window.history.back()">
    <i class="bi bi-chevron-left"></i>
  </button>
  <div class="d-flex flex-column gap-0 p-0">
    <div class="fs-6 text-white">Units of Measure Category</div>
    <div id="item-title" class="text-cyan-5 fs-6 fw-light"></div>
  </div>
</div>
{%endblock%}

{% block toolbar_actions %} 
<div class="d-flex flex-row align-items-center gap-2">
  <!-- Delete button -->
  <button type="button" class="btn btn-pink-5 btn-sm text-white" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
  <!-- Reset button -->
  <button type="button" class="btn btn-blue-grey-5 btn-sm text-white" id="reset-btn">Reset</button>
  <!-- Add New button -->
  <button type="button" class="btn btn-indigo-5 btn-sm" id="save-btn">Save</button>
</div>
{% endblock %}
