{% extends "base.html" %}
{% load static %}

{% block title %}Inventory - Units of Measure Categories{% endblock %}

{% block navbar %}
{% include "inventory_navbar.html"%}
{% endblock %}

{% block toolbar %}
{% include "uom/_uomCategory_list_toolbar.html"%}
{% endblock %}

{% block content %}
<div class="flex-grow-1 overflow-auto w-100" id="product-list-view"></div>
<script src="{% static 'js/products/load_uom_list.js' %}"></script>

<!-- Product card template -->
<template id="product-card-template">
  <div class="col-md-3 p-2">
    <div class="card d-flex flex-row bg-dark text-white">
      <img class="product-image" alt="product image" style="height:100px; object-fit:contain;">
      <div class="d-flex flex-column justify-content-between p-2 gap-0">
        <div class="fs-6 fw-bold product-name"></div>
        <div class="fs-7 fw-light product-price"></div>
      </div>
    </div>
  </div>
</template>

<!-- Product list template -->
<template id="product-row-template">
  <tr>
    <td class="text-center">
      <input type="checkbox" class="select-item form-check-input bg-dark border-indigo-5">
    </td>
    <td class="text-start px-3 text-light product-name"></td>
    <td class="text-start px-3 text-light product-code"></td>
    <td class="text-start px-3 text-light product-type"></td>
    <td class="text-start px-3 text-light product-category"></td>
    <td class="text-end px-3 text-light product-list-price"></td>
    <td class="text-end px-3 text-light product-standard-price"></td>
  </tr>
</template>

<!-- Filter Model -->
{% include "products/_product_list_modal_filter.html"%}
{% endblock %}


  <!-- Loading indicator -->
  <div class="d-flex flex-row justify-content-center align-items-center h-100 gap-3">
    <img src="{% static 'icons/rocket.svg' %}" alt="inventory icon" width="200" height="200">
    <span class="fs-4 text-white">Loading, please wait...</span>
    <div class="spinner-border text-indigo-5" role="status" style="width: 2rem; height: 2rem;"></div>
  </div>

